<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>5G mmWave  Path Loss Modeling</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="/static/css/variables.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz - v2.1.0
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
      <div class="container-fluid d-flex align-items-center justify-content-between">
  
        <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/img/logo.png" alt=""> -->
          <h1>5GmmWave Path Loss Modeling<span>.</span></h1>
        </a>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="{% url 'introduction' %}">Introduction</a></li>
            <li><a class="nav-link scrollto" href="{% url 'predict' %}">Prediction</a></li>
            <li><a class="nav-link scrollto" href="{% url 'result' %}">Result</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
    <style>
    
      div.box{
          width: 80%;
          height: 500px;
          border: 1px solid #000;
          margin: 0 auto;
      }
      .left {
          width: 60%;
          height:500px;
          float: left;
          box-sizing: border-box;
          text-align: center;
          padding: 20px;
          
      }
      .right {
          width: 40%;
          height: 500px;
          float: right;
          box-sizing: border-box;
          padding:30px;
      }

      </style>
</head>

<body>
  <div class="container" data-aos="fade-up" style="margin:50px; margin: auto; margin-top: 40px;">

  <div class="section-header">
    <br><br>
    <h2>Prediction</h2>
  </div>
  <div class="box" style="margin:auto; text-align:center; ">
    <div class="left">
      <img src="/static/img/temp.png" alt="My Image" width="600" height="400" >
    </div>
    <div class="right" style="padding-left: 40%;padding-right: 40%;">
      <form action="{% url 'result' %}" method="POST">
        {% csrf_token %}
      <div class="form-group" >
        <label for="exampleSelect1" class="form-label mt-4">PCI Select</label>
        <select name="pci" class="form-select" id="exampleSelect1">
          <option value="1">PCI 1</option>
          <option value="2">PCI 2</option>
          <option value="3">PCI 3</option>
          <option value="4">PCI 4</option>
          <option value="5">PCI 5</option>
          <option value="6">PCI 6</option>
          <option value="7">PCI 7</option>
        </select>
      </div>
        <div class="form-group">
          <label class="col-form-label mt-4" for="inputDefault">AZIMUTH</label>
          <input name="azi" type="text" class="form-control" placeholder="Enter AZIMUTH" id="inputDefault">
        </div>
        <div class="form-group">
          <label class="col-form-label mt-4" for="inputDefault">DOWNTILT</label>
          <input name="down" type="text" class="form-control" placeholder="Enter DOWNTILT" id="inputDefault">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
  </div>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>